<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>

<div align="center">
    <h3>订单系统注册</h3>
    <form action="/register" method="post">
        用户名：
        <input type="text" name="username"/>
        <br>
        身份证信息：
        <input type="text" name="idCard"/>
        <br>
        手机号：
        <input type="text" name="phone"/>
        <br>
        收货地址：
        <input type="text" name="address"/>
        <br>
        登录密码：
        <input type="password" name="password"/>
        <br>
        <input type="submit" name="register">
        <a href="/login">已有账号？去登录</a>
    </form>
</div>
</body>
</html>